* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #1a1a1a;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101010;
    height: 70px;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 5px 20px #000;
}


.logo {
    width: 45px;
    height: 45px;
    background-color: #ccc;
    border-radius: 10px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-left: 10px;
    padding: 10px 20px 10px 20px;
}

.menu li a:hover {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-left: 10px;
    background-color: #ccc;
    border-radius: 10px;
}

.titulo-principal {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.container div {
    flex: 1 1 300px;
    margin: 10px;
}

img {
    border-radius: 10px;
    width: 100%;
}